<div id="modaladdtask" >
	<div class="headermodal">
		<div></div>
		<div class="titlemodal">Новая цель</div> 
		<div class="closeModal" (click)="closeTask()" >X</div>
	</div>
	
		<div class="scrollmodal">			

			<div class="lablefild">Название</div>

			<input type="text" [(ngModel)]="name" >

			<div class="lablefild">Выберите сферу</div>
			<select name="" [(ngModel)]="selectSfer" >
				<option value="{{item.rowid}}" *ngFor="let item of sfer">{{ item.name }}</option>
			</select>

			<div class="lablefild"  >Коментарий</div>
			<textarea name="" id="" cols="30" rows="10" [(ngModel)]="description"></textarea>
			<button class="createTask" (click)="createTask()">Создать</button>
		
		</div>
</div>


