<!-- Generated template for the YearnewtaskComponent component -->

<div id="modaladdtask" >
	<div class="headermodal">
		<div></div>
		<div class="titlemodal">Новая цель</div> 
		<div class="closeModal" (click)="closeTask()" >X</div>
	</div>
	
		<div class="scrollmodal">
			

			<div class="lablefild">Название</div>

			<input type="text">

			<div class="lablefild">Выберите сферу</div>
			<select name="" id="">
				<option value="">asdsad</option>
				<option value="">asdsad</option>

			</select>

			<div class="lablefild">Коментарий</div>
			<textarea name="" id="" cols="30" rows="10"></textarea>
			<button class="createTask">Создать</button>
		
		</div>
</div>


