yearnewtask {
	#modaladdtask{
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 100%;
		top:0;
		z-index: 20;
		padding: 5vw;
		display: none;
		.headermodal{
			display: flex;
			line-height: 6vh;
			justify-content: space-between;
		}
		.titlemodal{
			font-family: 'ProximaNovaSemibold';
			text-align: center;
			font-size: 7vw;
		}

		input, textarea, select{
			width: 100%;
			border: 1px solid #dddddd;
		}
		textarea{
			margin: 0 auto 1vh;
			height: 20vh;
			font-size: 5vw;
		}
		input, select{
			height: 6vh;
			font-size: 5vw;	
			background-color: #fff;	
		}

		.scrollmodal{
		    height: 100%;
		    overflow-y: auto;
		    margin: 1vh auto;
		    padding-bottom: 6vh;
		}

	}

	.createTask{
		font-family: 'ProximaNovaRegular';
		display: block;
		background-image: url('../../assets/imgs/Background2.svg');			
		position: relative;
		border-radius: 2vw;
		background-size: cover;
		color: #fff;
		margin: 1vh auto;
		width: 80vw;
		height: 8vh;
		font-size: 7vw;
	}

	.lablefild{
		color: #265485;
		font-size: 5vw;
		margin: 1vh 0;
	}

	.closeModal{
		color: #265485;
		font-size: 8vw;
	}
}