page-yeardetailed {
	.masters_template .region .headTasks{
		text-align: center;
		.back{
			margin: 0 0 3vh;
			width: 9vw;
		}
	}
	.masters_template .region .headTasks .title_region{
		text-align: center;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    img{
	    	margin: 0 2vw;
				width: 9vw;
	    }
	}
	.masters_template .region .scroll_region {
    padding: 0 1vh 32vh;
	}
//вывод элементов
	.masters_template .region .scroll_region ul, li{
		margin: 0;
		padding: 0;
	}
	.elementmenu{
		border-top: 0.5vw solid #e8e8e8;
		font-family: 'ProximaNovaSemibold';
		font-size: 5vw;
		overflow: hidden;

	}
	.titleRazdelсompleted{
    text-align: center;
    font-family: 'ProximaNovaBold';
    font-size: 6.5vw;
    color: #989898;
    border-top: 0.5vw solid #e8e8e8;
    line-height: 9vh;
	}
	.сompleted{
		color: #989898;
	}
	.masters_template .region .headTasks .title_region{
		margin: 0 0 4vh;
	}
	.textTask{
    	padding: 3vh 1vw;
	}
	.settingTask{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 45%;
		background-color: #f1f1f1; 
		padding: 0 5vw;
		top: 0px;
		left: 0px;
		height: 100%;
    	transition-delay: 0s;
    	transition-property: none;
    	transform: translateX(55vw) translateZ(0px);
		box-shadow: inset 0px 0px 26px rgba(199, 197, 197, 0.9);
		z-index: 100;
		transform: translateX(97vw) translateZ(0);
		img{
			width: 7vw;
		}
	}
	.animateSetting{
    transform: translateX(1vw) translateZ(0);
    transition: transform 0.3s;
    position: relative;
	}
}