page-year {
	.icon_region{
		width: 7vw;
    	margin-right: 2vw;
	}
	.elementmenu{
	    font-family: 'ProximaNovaRegular';
	    display: flex;
	    justify-content: space-between;
	    font-size: 5vw;
		height: 6.7vh;
	    line-height: 6.7vh;
	    div{
	    	display: flex;
	    	span{
	    		color: #b2b2b2;
	    	}
	    }
	}
	.addTasks{
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 9vw;			
	}

}


#settingMenu{
	color: #265485;
	position: absolute;
	font-size: 4.5vw;
	width: 64vw;
	background-color: #fff;
	z-index: 10;
	right: 3vw;
	padding: 0 7vw;
	text-align: left;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	li {
		list-style-type: none;
		line-height: 6vh;
	}
	ul {
		margin-left: 0;
		padding-left: 0;
	}

  top: -34vh;
  transition-property: top;
  transition-duration: 1s;
  transition-timing-function: ease;
}

