page-year {
	.scroll-content{
		padding: 0 !important;
		overflow: hidden !important;
	}
	.masters_year {
		background-image: url("../../assets/imgs/background1.svg");
		background-repeat: no-repeat;
		background-size: contain;
	}
	.region{
		background-color: #fff;
		width: 100%;
		overflow-y: hidden;
		height: 100%;
		border-top-left-radius: 5vw;
		border-top-right-radius: 5vw;
	}
	.title_region{
		font-family: 'ProximaNovaBold';
    	font-size: 7vw;
	}
	.icon_region{
		width: 7vw;
    	margin-right: 2vw;
	}
	.elementmenu{
	    font-family: 'ProximaNovaRegular';
	    display: flex;
	    justify-content: space-between;
	    font-size: 5vw;
		height: 6.7vh;
	    line-height: 6.7vh;
	    div{
	    	display: flex;
	    	span{
	    		color: #b2b2b2;
	    	}
	    }
	}
	.scroll_region{
		overflow-y: auto;
		height: 100%;
		padding: 0 1vh;
		li {
    	list-style-type: none; 
   	}
   	ul {
	    margin-left: 3vw;
	    margin-right: 3vw;
	    padding-left: 0;
	    margin-top: 0px;
   	}
	}
	.headTasks{
		margin: 3vh 6vw;
		position: relative;
		.addTasks{
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 9vw;			
		}
	}
	.headerMain{
		font-family: 'ProximaNovaBold';
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;

		line-height: 10vh;
		margin: 0;
		padding: 0 2vw;
		.menu, .setting{
			width: 10vw;
			height: 10vw;
		}
		.titlemain{
			font-size: 7vw;
		}
	}
}