page-start {
	.masters {
		background-image: url("../../assets/imgs/background.svg");
		background-repeat: no-repeat;
		background-size: cover;
		font-family: 'ProximaNovaRegular';
	}	

	.logotype{
		margin: 3vh auto 6vh;
		width: 80vw;
		text-align: center;
		img{
			max-height: 42vh
		}
	}

	.background_man_l{
		background-image: url("../../assets/imgs/background_man_l.png");
		left: 0;
	}

	.background_man_r{
		background-image: url("../../assets/imgs/background_man_r.png");
		right: 0;
	}

	.start{
		position: absolute;
		bottom: 10vh;
		left: 50%;
		margin-left: -18vw;
		width: 36vw;
		border-radius: 3vw;
		border: 0.3vw solid;
		font-size: 7vw;
		height: 12vw;
		text-transform: capitalize;
	}

	.background_man_l, .background_man_r{
		position: absolute;
		background-size: cover;
		bottom: 0px;
		height: 60vh;
		width: 45vw;
	}

	@media screen and (max-width: 450px)  {
		.background_man_l, .background_man_r{
			height: 49vh;
			width: 45vw;
		}
		.logotype{
			margin: 6vh auto 6vh;
		}
	}
}