page-home {

		ul {
		  margin-left: 0; 
		  padding-left: 0; 
		  margin: 0;
		}

		.elementmenu{
		text-align: left;
    line-height: 50px;   
    list-style-type: none;
    margin: 0 40px;
    color: #f1f1f1;
    font-size: 20px
		}

		.elementMenuActive{
			font-size: 18px;
			font-weight: bold;
			color: #202020;
		}

		.elementMenuNoActive{
			font-size: 18px;
			font-weight: bold;
			color: #202020;
			opacity: 0.5;
		}


}
.masters {
  background-image: url("../../assets/imgs/background.svg");
  background-repeat: no-repeat;
  background-size: cover;

}
.logotype{
	margin: 30px auto;
	width: 300px;
}
.conts{
	margin: 0 auto;
	max-width: 360px;
}


