<ion-content class="masters">
	<div class="logotype" >
	<img  src="../../assets/imgs/logo.png"  >
	</div>
	<div class="conts">
	  <ul >
	    <li *ngFor="let item of items" class="elementmenu {{item.active}}" (click)="gotoPage(item.url)" >{{ item.name }} <span *ngIf="!item.active">Скоро</span></li>
	  </ul>
	  <!--<ul>
			<li class="elementmenu">Твой успешный день<span>Скоро</span></li>
			<li class="elementmenu" (click)="gotoPage('YearPage')">Твой успешный год</li>
			<li class="elementmenu">Выход из стресса<span>Скоро</span></li>
			<li class="elementmenu">Вдохновление на день<span>Скоро</span></li>
			<li class="elementmenu">Бизнес решение<span>Скоро</span></li>
			<li class="elementmenu">Питание<span>Скоро</span></li>
			<li class="elementmenu">Общение<span>Скоро</span></li>
	  </ul>-->
	</div>

<!--
	<button ion-button block color="light" (click)="addTables()" >Создать таблицы</button>

	<button ion-button block color="light" (click)="dropTableSecond()" >Удаление таблицы</button>

	<button ion-button block color="light" (click)="getDataSectionAll()" >Получить данные</button>
-->

</ion-content>

