page-home {
	font-family: 'ProximaNovaSemibold';
	.masters {
	  background-image: url("../../assets/imgs/background.svg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
  	
	ul {
	  margin-left: 2vw; 
	  padding-left: 0;
	}

	.elementmenu{			
		text-align: left;
	    line-height: 7vh;   
	    list-style-type: none;
	    color: #f1f1f1;
	    font-size: 6vw;	    
	    position: relative;
	}

	.elementmenu span{
		color: #9fff00;
		border-radius: 2vw;
		border: 0.2vw solid #9fff00;
		padding: 0 2vw;
		font-size: 3vw;
		position: absolute;
		top: 0;
		height: 5vw;
		line-height: 5vw;
		vertical-align: middle;
	}

	.logotype{
		margin: 2vh auto 6vh;
		width: 80vw;
		text-align: center;
		img{
			max-height: 35vh
		}
	}
	.conts{
		margin: 0 auto;
	  	width: 80vw;
	}
}