page-day {
	.planer{
		display: flex;	
		margin-top: 2vh;	
	}	

	#timeDay{		
		width: 15vw;

	}

	#timeDay ul{
		margin-top:-1.3vh !important;
	}

	li{
		text-align: right;
		font-size: 2vh;
	}
	#taskDay{
		position: relative;
		width: 80vw;
		height: 0;
		.task{
			margin: 0 3vw;
			background-color: #a9c5db;
			width: 95%;
    		
			position: absolute;
			border-radius: 1.5vw;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 3vh;
			color: #0d4077;
			font-family: 'ProximaNovaBold';
		}
	}

	.verticalLine{
		width: 0.2vh;
		/*height: 100%;*/
		background-color: #d1d1d1;
		margin-left: 2vw;
		top: 0;
		position: absolute;
	}
	.rowLine{
		position: absolute;
		background-color: #d1d1d1;
		height: 0.2vh;
		width: 100%;
		//border: 0.2vh solid #d1d1d1;
	}


	#currentTime{
		height: 0.3vh;
		background-color: #000;
		width: 100%;
		position: absolute;
		left: 1vw;
	}
	.circle{
		background-color: #000;
		position: absolute;
		width: 5vw;
		height: 5vw;
		border-radius: 25vw;
		left: -1.4vw;
		top: -2.5vw;
	}

	#addTaskDay{
		position: absolute;
		width: 14vw;
		height: 14vw;		
		bottom: 3vw;
		right: 3vw;
		background-image: url("../../assets/ui_icons/plus2.svg");
		filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));

	}
	#calendar{
		width: 9vw;
    	height: 9vw;
		background-image: url("../../assets/ui_icons/calendar-01.svg");
		position: absolute;
		right: 3vw;
		top: -1vh;
	}

	.tileDay{
		font-size: 3.5vw;
		color: #1a1a1a;
		span{
			margin-right: 4vw;
			font-size: 5.5vw;
		}
	}
	.modalCalendar{
		position: absolute;
		top: -80vh;
		left: 2%;
		width: 96%;
		height: 50vh;
		z-index: 200;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		transition-property: top;
  		transition-duration: 0.5s;
  		transition-timing-function: ease;
	}
	.bloker{
		position: absolute;
		width: 0;
		height: 100%;
		top:0;
		left: 0;
		background-color: #000;
		opacity: 0.3;
		z-index: 199;
	}

}
