#modalmenu{
	font-family: 'ProximaNovaSemibold';
	background-image: url("../../assets/imgs/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	background-color: #fff;
	width: 80vw;
	height: 100%;
	top:0;
	left: 0;
	z-index: 20;
	padding: 3vw;
	z-index: 31;
	display: none;
	.logotype_menu{
		margin: 0 auto 8vw;
		width: 56vw;
	}
	ul {
		margin-left: 0; 
		padding-left: 0; 
		margin: 0;
	}
	li {
		list-style-type: none; 
	}
	.elementmenu_menu{		
		font-family: 'ProximaNovaRegular';	
		text-align: left;
		line-height: 8vh;   
		list-style-type: none;
		margin: 0 2vw;
		color: #f1f1f1;
		font-size: 5.5vw;    
	}
	.elementmenu_menu span{
		color: #9fff00;
		border-radius: 2vw;
		border: 0.3vw solid #9fff00;
		padding: 0 1vw;
		position: absolute;
		font-size: 2.5vw;
		line-height: 3vh;
		height: 3vh;
	}

	.conts_menu{
		margin: 0 auto;
		max-width: 78vw;
	}
	@media screen and (max-width: 450px)  {
		.logotype_menu{
			margin: 0 auto 8vw;
			width: 70vw;
		}
	}
}

#bgroundfull{
	position: absolute;
	background-color: #000 ; 
	opacity: 0.3;
	width: 100%;
	height: 100%;
	z-index: 30;
	top: 0;
	left: 0;
	display: none;
}