<!-- Generated template for the MenuComponent component -->

<div id="modalmenu" >
	<div class="logotype_menu" >
	<img  src="../../assets/imgs/logo.png"  >
	</div>
	<div class="conts_menu">
	  <ul >
	    <li *ngFor="let item of menuobj" class="elementmenu_menu {{item.active}}" (click)="gotoPage(item.url)" >{{ item.name }} <span *ngIf="!item.active">Скоро</span></li>
	  </ul>
	  <!--<ul>
			<li class="elementmenu_menu" (click)="gotoPage('DayPage')">Твой успешный день<span>Скоро</span></li>
			<li class="elementmenu_menu" (click)="gotoPage('YearPage')">Твой успешный год</li>
			<li class="elementmenu_menu">Выход из стресса<span>Скоро</span></li>
			<li class="elementmenu_menu">Вдохновление на день<span>Скоро</span></li>
			<li class="elementmenu_menu">Бизнес решение<span>Скоро</span></li>
			<li class="elementmenu_menu">Питание<span>Скоро</span></li>
			<li class="elementmenu_menu">Общение<span>Скоро</span></li>
	  </ul>-->
	</div>
</div>
<div id="bgroundfull" (click)="closemenu()"></div>